.header {
  background-color: var(--dark-bg-color);
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.dark .header {
  background-color: var(--light-bg-color);
}

.header__container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.header__logo {
  max-height: 130px;
}
